@font-face {
    font-family: "carnival";
    src: url(./Fonts/carnivalee-freakshow.regular.ttf);
}

.App {
    background-color: rgb(24,25,26);
    height: 200vh;
    font-family: "carnival";
    color: white;
}


.Navbar {
    background-color: rgb(36,37,38);
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    margin-bottom: 50px;
    color: white;
}

.Navbar * {
    display: inline;
}

.Navbar li {
    margin: 30px;
}

.Navbar li a {
    color: white;
    text-decoration: none;
    font-size: x-large;
}

.Navbar_Logo {
    width: auto;
    height: 250%;
    padding-top: 90px;
}

.Navbar_Title {
    width: 300px;
}

.Main_Container {
    padding-left: 20px;
    padding-right: 20px;
}

.Listings_Container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.1);
    height: 100vh;
}

.Cabinet_Image{
    height: 200px;
    width: 160px;
}

.Listing_Display {
    background-color: rgb(36,37,38);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 25px 0 black;
    margin: 10px;
}

.Form_Div {
    background-color: rgb(36,37,38);
    display: flex;
    width: 30%;
    justify-content: center;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 25px 0 black;
    margin: auto;
}

.Form_Container {
    display: flex;
    justify-content: center;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.Listings_Title {
    color: white;
    padding-left: 30px;
}

.Banner_Img {
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0 0 25px 0 black;
}

.Details {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}